.mainWrapper{
  display: flex;
  justify-content: center;
}
.paymentBoxes{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin: 15px 0px;
  justify-content: center;
  align-items: center;
}
.annualSalaryBox{
  display: flex;
}
.superRateBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameBoxes{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.superRate_input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 5px;
}
